body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header{
    flex: 0 80px;
    z-index: 3;
    padding-bottom: 15px; 
}

article{
    padding-top: 20px;
}
main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}


main section:nth-child(1) label {
    
    background-color:lightsalmon;
    background-clip: border-box; 
    border: 3px transparent;
    border-radius: 10px 10px 10px;
    /* width: 378px; */
    
  }
  main section:nth-child(2) label {
    
    background-clip: border-box; 
    background-color: lightskyblue;
    border: 3px transparent;
    border-radius: 10px 10px 10px;
    
    text-align: center;

  }
textarea{
    width: 425px; 
    height: 225px;
    display: block;
    background-color: lightcyan;
}


label{
    display:block;
    padding-left: 80px;
    padding-right: 80px;
}
menu{
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}


.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
    align-items: center;
}

menu .nav-item{
   /* padding: 0 0.3 em; */
    /* margi: 50px; */
    padding-right: 50px;

}

@media (max-height: 600px){
    header{
        display: none;
    }
    footer{
        display: none;
    }
    main {
        flex: 1 100vh;
        flex-direction: column;
    }
    menu .nav-item{
        margin-left: 1px; 
    }
}